<a href="https://colab.research.google.com/github/FertwBr/python/blob/pre-processing-python/Pr%C3%A9_processamento.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Questão 1: Transformação Binária do Atributo 'cargo'

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('fake_data_2.csv')

df = pd.get_dummies(df, columns=['cargo'])

print(df)

    idade  salario    bonus sócio  cargo_Analista  cargo_Diretor  \
0      45  24000.0  10000.0   sim           False           True
1      22   8000.0   2000.0   não            True          False
2      30      NaN   1000.0   não           False          False
3      24  15100.0      NaN   não           False          False
4      30  35000.0   6000.0   sim           False          False
5      22   5300.0   2000.0   não           False          False
6      20      NaN   1200.0   não            True          False
7      50  18000.0   8000.0   sim           False           True
8      65  38000.0  28000.0   sim           False          False
9      32   7300.0   4000.0   não            True          False
10     35   2344.0      NaN   não           False          False
11     28   4500.0   2200.0   não           False          False
12     28  30000.0  12000.0   sim           False          False
13     30  14000.0  10000.0   sim           False          False
14     45  24000.0  10000.0   sim           False           True
15     30  35000.0   6000.0   sim           False          False

    cargo_Fundador  cargo_Gerente  cargo_Programador
0            False          False              False
1            False          False              False
2            False          False               True
3            False           True              False
4            False           True              False
5            False          False               True
6            False          False              False
7            False          False              False
8             True          False              False
9            False          False              False
10           False          False               True
11           False          False               True
12            True          False              False
13           False          False               True
14           False          False              False
15           False           True              False

# Questão 2: Conversão e Normalização de Dados

In [ ]:
import pandas as pd

Dados da imagem

In [ ]:
dados = {
    'Febre': ['baixa', 'média', 'alta', 'alta', 'baixa', 'média'],
    'Enjoo': ['sim', 'não', 'sim', 'não', 'não', 'não'],
    'Mancha': ['pequena', 'média', 'grande', 'pequena', 'grande', 'ausente'],
    'Dor': ['A', 'C', 'B', 'A', 'D', 'C'],
    'Diagnóstico': ['doente', 'saudável', 'saudável', 'doente', 'saudável', 'doente']
}

Criar DataFrame

In [ ]:
df = pd.DataFrame(dados)

def converter_e_normalizar(coluna):
    valores_unicos = df[coluna].unique()
    mapeamento = {valor: i for i, valor in enumerate(valores_unicos)}
    df[coluna] = df[coluna].map(mapeamento)

    maximo = df[coluna].max()
    minimo = df[coluna].min()
    df[coluna] = (df[coluna] - minimo) / (maximo - minimo)


colunas_categoricas = ['Febre', 'Enjoo', 'Mancha', 'Dor', 'Diagnóstico']
for coluna in colunas_categoricas:
    converter_e_normalizar(coluna)


print(df)

   Febre  Enjoo    Mancha       Dor  Diagnóstico
0    0.0    0.0  0.000000  0.000000          0.0
1    0.5    1.0  0.333333  0.333333          1.0
2    1.0    0.0  0.666667  0.666667          1.0
3    1.0    1.0  0.000000  0.000000          0.0
4    0.0    1.0  0.666667  1.000000          1.0
5    0.5    1.0  1.000000  0.333333          0.0

# Questão 3: Tratamento de Dados Ausentes em 'iris_alterado.csv'

In [ ]:
import pandas as pd

Carregar a base de dados iris_alterado.csv

In [ ]:
df = pd.read_csv('iris_alterado.csv')

(a) Remover atributos com dados ausentes

In [ ]:
df_sem_atributos_ausentes = df.dropna(axis='columns')

(b) Remover amostras com dados ausentes

In [16]:
df_sem_amostras_ausentes = df.dropna(axis='index')

(c) Remover amostras duplicadas

In [ ]:
df_sem_duplicatas = df.drop_duplicates(subset=['sepal_length', 'sepal_width', 'petal_length', 'petal_width'])

(d) Mostrar os resultados

In [ ]:
print("(a) DataFrame sem atributos com dados ausentes:")
print(df_sem_atributos_ausentes)
print("\n(b) DataFrame sem amostras com dados ausentes:")
print(df_sem_amostras_ausentes)
print("\n(c) DataFrame sem amostras duplicadas:")
print(df_sem_duplicatas)

(a) DataFrame sem atributos com dados ausentes:
    petal_length           class
0            1.4     Iris-setosa
1            1.4     Iris-setosa
2            1.4     Iris-setosa
3            1.3     Iris-setosa
4            1.5     Iris-setosa
..           ...             ...
83           5.9  Iris-virginica
84           5.6  Iris-virginica
85           5.8  Iris-virginica
86           6.6  Iris-virginica
87           4.5  Iris-virginica

[88 rows x 2 columns]

(b) DataFrame sem amostras com dados ausentes:
    sepal_length  sepal_width  petal_length  petal_width            class
2            4.9          3.0           1.4          0.2      Iris-setosa
4            4.6          3.1           1.5          0.2      Iris-setosa
5            5.0          3.6           1.4          0.2      Iris-setosa
7            4.6          3.4           1.4          0.3      Iris-setosa
9            4.4          2.9           1.4          0.2      Iris-setosa
..           ...          ...           ...          ...              ...
82           5.9          3.0           4.2          1.5  Iris-versicolor
83           7.1          3.0           5.9          2.1   Iris-virginica
85           6.5          3.0           5.8          2.2   Iris-virginica
86           7.6          3.0           6.6          2.1   Iris-virginica
87           4.9          2.5           4.5          1.7   Iris-virginica

[77 rows x 5 columns]

(c) DataFrame sem amostras duplicadas:
    sepal_length  sepal_width  petal_length  petal_width           class
0            5.1          3.5           1.4          NaN     Iris-setosa
1            4.9          NaN           1.4          0.2     Iris-setosa
2            4.9          3.0           1.4          0.2     Iris-setosa
3            4.7          NaN           1.3          0.2     Iris-setosa
4            4.6          3.1           1.5          0.2     Iris-setosa
..           ...          ...           ...          ...             ...
73           6.4          3.2           5.3          2.3  Iris-virginica
74           6.5          3.0           5.5          1.8  Iris-virginica
75           7.7          3.8           6.7          2.2  Iris-virginica
76           7.7          2.6           6.9          NaN  Iris-virginica
84           NaN          2.9           5.6          1.8  Iris-virginica

[78 rows x 5 columns]